@import "tailwindcss";

@font-face {
    font-family: vazir;
    src: url(/vazir.ttf);
}
*{
    font-family: vazir,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
::-webkit-scrollbar{
    appearance: none
}
@layer components {

    .dark-button{
        @apply cursor-pointer bg-slate-950 p-2  rounded-md text-white hover:border-gray-600 border-2 border-transparent duration-200 
    }
    .join-chat-page-background{
        @apply bg-slate-950 text-white p-4 flex justify-center min-h-[100vh] items-center
    }

    .join-chat-page-container{
        @apply bg-slate-900 py-10  flex flex-col items-center gap-8 p-10 rounded-md
    }
    .input {
        @apply bg-slate-800 h-[100%] focus:outline-0 border-2 border-transparent focus:border-gray-600 duration-200 p-2  rounded-md
    }

}